/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body,html{
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #FBFBFB;
  line-height: 1.5;
}
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.container{
     display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

}
  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
    list-style: none;
}
.navbar ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-item{
    color: #333;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
    padding: 20px 20px 24px 24px ;
    display: block;
}
.nav-item:hover{
    color: #0027d5;
}
.banner{
 display: flex;
 height: calc(100vh - 90px);
 width: 100%;
}
.banner-photo{
    width:50% ;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section.png?raw=true);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
}
.banner-introduce{
    width:50% ;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    display: flex;
}
.banner-introduce-content{
    text-align: left;
    color: #0027d5;
    margin-left: 80px;
}
.blog-title{
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 1rem;
    letter-spacing: 0.05em;
}
.banner-subTitle{
    font-size: 28px;
    font-weight: 700;
}
.blog-content{
    display: flex    ;
    justify-content:center;
    align-items: start;
}
.blog-item{
    width:50% ;
    
    padding-right:12px ;
}


.blog-introduce{
    align-self: center;
    width:50% ;
    padding-left:12px ;
    margin:8px;
}

.blog-introduce .detail{
  max-Width:416px;
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.blog-introduce p{
   font-size: 16px;
   font-weight: 500;
}
.blog-introduce .title{
font-weight: 700;;
   font-size: 28px;
}
.blog-introduce-title{    
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.blog-introduce-title .tag {
    font-size: 24px;
    color: #0027D5;
    text-decoration: none;
}
 .read{
  border-radius: 40px ;
  padding: 8px 12px 8px 12px;
  color:#fff;
  background-color:#0027D5;
  text-decoration: none;
  font-size:16px;
  margin: 8px;
}

.blog-introduce .btn {
 border: 1px solid #000 ;
  border-radius: 40px ;
  padding: 8px 16px 8px 16px ;
  color:#000;
  text-decoration: none;
  margin-top: 16px;
    display: inline-block; /* 若需要 */
}
.search-box{
    margin-top: 80px;
    margin-bottom: 40px;
    max-width: 416px;
    position: relative;
    
}
.search-box .icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #4f5b66;
    z-index: 2;
}
.search-input {
    width: 100%;
    padding: 16px 48px 16px 50px;
    border-radius:40px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.container-list{
  max-width: 1920px;    
  font-family: sans-serif;
  margin-left: 312px;  

}
.container-list .list{
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.wrap-item{
    list-style: none;
    max-width: 416px;
    max-height:556px;
    margin: 0px 10px 50px 5px;
    align-items: flex-start;
    padding: 5px;
    display: flex;
    flex-direction: column;
  
  
}
.wrap-item time{
  padding-top:10px;
}
.wrap-item img{
  width:100%;
}
.wrap-item .tag {
    font-size: 24px;
    color: #0027D5;
    text-decoration: none;
    padding: 5px;
}
.wrap-item p{
  font-size: 16px;
  margin:0px;
  color:#4B4B4B;
  max-height:48px;
  max-Width:416px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.wrap-item h2{
 font-size: 28px;
 font-Weight:700;
}
.btn {
  border: 1px solid #4B4B4B ;
  border-radius: 40px ;
  padding: 8px 16px ;
  color:#4B4B4B;
  text-decoration: none;
  margin-top: 10px;
}
h2{
 margin:3px;
}

.tag-css{
    text-align: center;
    display: flex;
    align-items: center;
}
.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.pagination{
       background-color: #FFFFFF;
    width: 328px;
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 16px 20px 16px 20px;
    font-family: monospace;
           
}
.pagination a{
    color:#4B4B4B ;
    text-decoration: none;
}
.connect-container{
    margin: 80px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.social-connect{
    
    width: 1038px;
    font-size: 32px;
}
.footer{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 24px 0;
}
.block{
    margin: 24px 0;
}
.read-list{
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 636px;
    margin: 56px 0;
}
.read-item{
    width: 100%;
    font-Weight:500;
    font-Size:16px;    
    margin-bottom: 24px;
}
.read-list ol {
    list-style: decimal;
    margin-left: 1em; 
}
.read-list ul {
    list-style: disc;
    margin-left: 1em; 
}
.read-title{
    font-Weight:700;
    font-Size:28px;
    color:#0027D5;
    margin-bottom: 24px;
}
.read-h2{
    font-Size:20px;
    font-Weight:700;
}
.read-item p{
    font-Weight:500px;
    font-Size:16px;
}
.tip{
    border-radius:24px;
    Padding:24px;
    background-color: #EDEDED;
    font-Weight:700;
    font-Size:16px;
    margin-bottom: 24px;
}
.btn-group {
     display: flex
;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    justify-content: space-between;
}
.pre-btn, .next-btn {
     display: flex
;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    justify-content: space-between;
}
@media (max-width: 992px) {
    .connect-container{
        align-items: center;
    }
    html,body, .container {
        max-width: 992px;
    }
    .container-list {
        margin-left: 0;
        max-width: 100%;
    }
}
@media (max-width: 869px) {
    .connect-container{
        align-items: center;
    }
       html, body, .container, .serch,.container-list .list {
        max-width: 869px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
  .footer{
    font-size: 16px;
  }
  .connect-container {
        display: none;
    }
    .wrap-item .tag{
        padding: 0px;
    }
      .banner,.blog-content,.banner-photo,
    .banner-introduce  {
        display: flex;
        flex-direction: column; 
        width: 100%;
        height: calc(100vh - 90px); 
    }
    .banner-introduce {
       
        min-height: 180px; 
        justify-content: center;
        align-items: center;
    }
    .banner-introduce-content {
        margin-left: 0;
    }
    .blog-title{
        font-size: 52px;
    }
    .blog-item,.blog-introduce{
        width: 100%;
        padding-right: 0;
    }

}
@media (max-width: 720px) {
  .read-list, .container-list, .container, .block, .wrap-item, .social-connect {
    width: 100%;
    max-width: 100%;
    margin:  0 12px;
  }
  .banner, .banner-photo, .banner-introduce {
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
  .banner-photo, .banner-introduce {
    width: 100%;
  }
  .connect-container {
        display: none;
    }
    .wrap-item .tag{
        padding: 0px;
    }
      .banner,.blog-content {
        display: flex;
        flex-direction: column; 
        width: 100%;
        height: 100%; 
    }
    .banner-photo,
    .banner-introduce {
        width: 100%;
        height: 375px; 
    }
    .banner-introduce {
       
        min-height: 180px; 
        justify-content: center;
        align-items: center;
    }
    .banner-introduce-content {
        margin-left: 0;
    }
    .blog-title{
        font-size: 52px;
    }
    .blog-item,.blog-introduce{
        width: 100%;
        padding-right: 0;
    }
}
@media (max-width: 375px) {
    .connect-container{
        align-items: center;
    }
    html,body, .container,.container-list  {
        max-width:375px;
    }
  .footer{
    font-size: 16px;
  }
  

}